fastapi==0.115.12
uvicorn==0.34.0
streamlit==1.44.1
pandas==2.2.3
numpy==2.2.4
scikit-learn==1.6.1
matplotlib==3.10.1
seaborn==0.13.2
transformers==4.28.0
torch==2.6.0
gTTS==2.5.4
SpeechRecognition==3.14.1
experta==1.9.4
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.40
openai==1.68.2
pdfplumber==0.11.5
fpdf==1.7.2
gunicorn==21.2.0
requests==2.32.3
huggingface-hub==0.11.1
xgboost==3.0.0


